@model TaskCentralWebApp.ViewModels.NotificationsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Notification</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notification.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notification.Message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notification.DateOfCreation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notification.DateOfCreation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notification.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notification.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notification.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notification.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notification.Task)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Task.TaskId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notification.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notification.UserId)
        </dd>
    </dl>
    <h4>Task</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.TaskName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.TaskName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Deadline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Deadline)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Project)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.ProjectId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index"><button type="button" class="btn btn-outline-dark">Back to List</button></a>
</div>
