@model IEnumerable<TaskCentralWebApp.Models.Project>
@using Microsoft.AspNetCore.Authentication
@using System.Security.Claims

@{
    var aspId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    TaskCentralDBContext context = new TaskCentralDBContext();
    // Retrieve the corresponding user from your database context
    var userId = context.Users.FirstOrDefault(x => x.AspUserId == aspId).UserId;
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table {
        min-width: 900px;
    }
</style>
<h1>Projects</h1>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-success">Create Project</button></a>
</p>
@{
    if (TempData["Success"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Success"].ToString()
        </div>
    }
}
<form asp-controller="Projects" asp-action="Index" method="GET">
    <input type="text" name="searchString" value="@Context.Request.Query["searchString"].ToString()" />
    <input type="submit" value="Search" class="btn btn-success mx-2" />
    <a asp-controller="Projects" asp-action="Index" class="btn btn-outline-danger" >Clear</a>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager.UserName)
            </td>
                <td>
                    @if (userId == item.ManagerId)
                    {
                        <a asp-action="Edit" asp-route-id="@item.ProjectId"><button type="button" class="btn btn-info">Edit</button></a>
                        <a asp-action="Delete" asp-route-id="@item.ProjectId"><button type="button" class="btn btn-danger">Delete</button></a>
                    }
                    <a asp-action="Details" asp-route-id="@item.ProjectId"><button type="button" class="btn btn-warning">Details</button></a>
                    <a asp-controller="Projects" asp-action="Dashboard" asp-route-id="@item.ProjectId"><button type="button" class="btn btn-dark">Project Dashboard</button></a>
                </td>
        </tr>
}
    </tbody>
</table>
