@model TaskCentralWebApp.Models.Document

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Document</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UploadDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UploadDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocType)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Task)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Task.TaskId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
        <dt class="col-sm-2">
            Document:
        </dt>
        <dd class="col-sm-10">
            <iframe src="@Url.Action("Download", new { id = Model.DocId })" width="100%" height="600"></iframe>
        </dd>
    </dl>
    
    <form asp-action="Delete" asp-route-id="@Model.DocId">
        <input type="hidden" asp-for="DocId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index" asp-route-taskid="@ViewData["TaskId"]"><button type="button" class="btn btn-outline-dark">Back to List</button></a>
    </form>
</div>
